body{
	margin:0px;
	width:100%;
	height:100%;
	background: url(Images/background1.jpg) ;
	background-size:repeat;
	background-attachment: fixed;
}

.sun{
	position:absolute;
	top:240px;
	left: 580px;
	width:150px;
}


.mercury{
	width:20px;
	position:absolute;
	top:305px;
	left:645px;
	animation: spinmercury 8s infinite linear;
	
}

.venus{
	width:30px;
	position:absolute;
	top:300px;
	left:640px;
	animation: spinvenus 8.3s infinite linear;
}

.earth{
	position:absolute;
	top:295px;
	left:635px;
	animation: spinearth 8.8s infinite linear;
}
.earth img:first-child{
	width:45px;
}
.earth img:nth-child(2){
	width:30px;
}
.mars{
	width:40px;
	position:absolute;
	top:290px;
	left:630px;
	animation: spinmars 9.3s infinite linear;
}
.jupiter{
	width:60px;
	position:absolute;
	top:285px;
	left:625px;
	animation: spinjupiter 9.8s infinite linear;
}

.saturn{
	width:85px;
	position:absolute;
	top:290px;
	left:625px;
	animation: spinsaturn 10.2s infinite linear;
}

.uran{
	width:50px;
	position:absolute;
	top:290px;
	left:630px;
	animation: spinuran 10.7s infinite linear;
}
.pluto{
	width:20px;
	position:absolute;
	top:305px;
	left:645px;
	animation: spinpluto 11s infinite linear;
}
@keyframes spinmercury{
	from{ transform: rotate(0deg)
					translate(100px)
					rotate(0deg);
	}

	to{
		transform: rotate(360deg)
					translate(100px)
					rotate(-360deg);
	}
}

@keyframes spinvenus{
	from{ transform: rotate(0deg)
					translate(-120px)
					rotate(0deg);
	}

	to{
		transform: rotate(360deg)
					translate(-120px)
					rotate(-360deg);
	}
}
@keyframes spinearth{
	from{ transform: rotate(0deg)
					translate(220px)
					rotate(0deg);
	}

	to{
		transform: rotate(360deg)
					translate(220px)
					rotate(1080deg);
	}
}
@keyframes spinmars{
	from{ transform: rotate(0deg)
					translate(-310px)
					rotate(0deg);
	}

	to{
		transform: rotate(360deg)
					translate(-310px)
					rotate(-360deg);
	}
}
@keyframes spinjupiter{
	from{ transform: rotate(0deg)
					translate(340px)
					rotate(0deg);
	}

	to{
		transform: rotate(360deg)
					translate(340px)
					rotate(-360deg);
	}
}

@keyframes spinsaturn{
	from{ transform: rotate(0deg)
					translate(-400px)
					rotate(0deg);
	}

	to{
		transform: rotate(360deg)
					translate(-400px)
					rotate(-360deg);
	}
}

@keyframes spinuran{
	from{ transform: rotate(0deg)
					translate(440px)
					rotate(0deg);
	}

	to{
		transform: rotate(360deg)
					translate(440px)
					rotate(-360deg);
	}
}

@keyframes spinpluto{
	from{ transform: rotate(0deg)
					translate(-500px)
					rotate(0deg);
	}

	to{
		transform: rotate(360deg)
					translate(-500px)
					rotate(-360deg);
	}
}